<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>M1892 mainline project</vendor>
  <action id="org.meizu.m1892.safe-restart">
    <description>Safely restart M1892</description>
    <description xml:lang="zh_CN">安全重启 M1892</description>
    <message>Authorization is required to restart M1892</message>
    <message xml:lang="zh_CN">需要授权才能重启 M1892</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/m1892-safe-restart-broker</annotate>
  </action>
</policyconfig>
