[Unit]
Description=M1892 Debian Stage 3 local development ACM recovery shell
ConditionKernelCommandLine=m1892.usb=acm-ncm
ConditionPathExists=/dev/ttyGS0
After=dev-ttyGS0.device

[Service]
Type=simple
ExecStart=/bin/bash --noprofile --norc
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/ttyGS0
TTYReset=yes
TTYVHangup=yes
Restart=always
RestartSec=1
KillSignal=SIGHUP
SendSIGHUP=yes
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
